@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/moment.min.js"></script>
    @Styles.Render("~/Styles")
    @Scripts.Render("~/JavaScripts")
</head>
<body>
    <div id="header">
        <span id="logo">MANDAGSKLUBBEN</span>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        @Html.Partial("FooterNavigation")
    </div>
</body>
</html>
